@import "tailwindcss";
:root {
    /* ===== Neutral ===== */
    --color-neutral-900: #1B0202;
    --color-neutral-800: #78604E;
    --color-neutral-700: #907660;
    /* ===== Brand ===== */
    --color-brand-500: #B18B64;
    --color-brand-400: #D5AE94;
    --color-brand-300: #F5CCB2;
    --color-brand-200: #E7EDCE;
    /* ===== Fontes ===== */
    --font-sans: "Inter", sans-serif;
    --font-mono: "Fira Code", monospace;
}

@theme inline {
    /* Background / superfície */
    --color-background: #E8E8E8;
    --color-surface: var(--color-brand-500);
    --color-surface-border: var(--color-neutral-900);
    /* Textos */
    --color-text-primary: #000000;
    --color-text-inverse: #ffffff;
    --color-text-secondary: #555555;
    --color-text-highlight: var(--color-neutral-900);
    /* Ações / botões */
    /* Botão Auth */
    --color-button-auth: var(--color-neutral-800);
    --color-button-auth-hover: var(--color-neutral-700);
    /* Botão Action */
    --color-button-action: var(--color-brand-400);
    --color-button-action-hover: var(--color-brand-300);
    --color-button-action-border: var(--color-neutral-900);
    /* Botão Config */
    --color-button-config: #E8E8E8;
    --color-button-config-border: var(--color-neutral-900);
    --color-button-config-hover: var(--color-neutral-900);
    /* Botão Danger */
    --color-button-danger: #E8E8E8;
    --color-button-danger-border: #B30505;
    --color-button-danger-hover: #B30505;
    /* Feedback / alertas */
    --color-feedback-success: #16a34a;
    --color-feedback-error: #dc2626;
}

body {
    background: var(--color-background);
    color: var(--color-text-primary);
    font-family: var(--font-sans);
}